@model EShop.Models.PaymentMode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentMode</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentModeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentModeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentModeIsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentModeIsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentModeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
