@model EShop.Models.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Invoice</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.InvoiceID)

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDate)
                @Html.ValidationMessageFor(model => model.InvoiceDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "CustomerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "EmployeeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceTotal)
                @Html.ValidationMessageFor(model => model.InvoiceTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsPaid)
                @Html.ValidationMessageFor(model => model.IsPaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentModeID, "PaymentModeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaymentModeID", String.Empty)
                @Html.ValidationMessageFor(model => model.PaymentModeID)
            </div>
        </div>


        <!--Naveed-->
        <div class="panel panel-default">
            <div class="panel-heading">Invoice Detail </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                    <th>
                     Product   
                    </th>
                    <th>
                    Qty
                    </th>
                    <th>
                       Price
                    </th>
                    <th>
                        Amount
                    </th>
                    </tr>
                    @foreach (var item in Model.InvoiceDetail)
                    {
                       <tr>
                        <td>
                         
                           @item.Product.ProductName
                           </td>
                        <td>@item.Qty</td>
                        <td>@item.Price</td>
                        <td>@{ 
                             var amount = item.Price * item.Qty;
                            
                             } @amount</td>
                    </tr>
                    }
                   
                    
                </table>

            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">Invoice Detail </div>
            <div class="panel-body">
                <div class="form-group new-invoice">
                    @Html.DropDownList("ProductID", null, String.Empty, new { @class = "invoice-product-id" })

                    <input type="text" id="pQty" class="invoice-product-qty" />
                    <input type="text" id="pPrice" class="invoice-product-price" />

                    <button class="btn-info add-invoice-item">Add</button>

                </div>


                <table class="table invoice-table">
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>
                    <tr class="template">
                        <td class="prod">
                            <input type="hidden" class="inv-productid" />
                            <input type="hidden" class="inv-qty" />
                            <input type="hidden" class="inv-price" />

                        </td>
                        <td class="qty"></td>
                        <td class="price"></td>
                        <td class="amount"></td>

                    </tr>

                    @for (var i = 0; i < Model.InvoiceDetail.Count; i++)
                    {
                        var item = Model.InvoiceDetail.ToList();

                        <tr>
                            <td>
                                <input type="hidden" name="InvoiceDetail[@(i)].ProductID" value="@item[i].ProductID" />
                                <input type="hidden" name="InvoiceDetail[@(i)].Price" value="@item[i].Price" />
                                <input type="hidden" name="InvoiceDetail[@(i)].Qty" value="@item[i].Qty" />

                                @item[i].Product.ProductName
                            </td>
                            <td>@item[i].Qty</td>
                            <td>@item[i].Price</td>
                            <td>
                                @{
                        var amount = item[i].Price * item[i].Qty;

                                } @amount
                            </td>
                        </tr>
                    }


                </table>



            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
